---
import Layout from "@layouts/Layout.astro";
import BaseHead from "@components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Card from "@components/Card.astro";
import Tag from "@components/Tag.svelte";

const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

const tags = [
  "For you",
  ...new Set(
    (await Astro.glob("./blog/*.{md,mdx}")).map((tag) => tag.frontmatter.tag)
  ),
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <Layout>
    <div>
      <Tag tags={tags} />
      <ul>
        {
          posts.map((post) => (
            <Card
              title={post.frontmatter.title}
              description={post.frontmatter.description}
              heroImage={post.frontmatter.heroImage}
              pubDate={post.frontmatter.pubDate}
              tag={post.frontmatter.tag}
              url={post.url}
            />
          ))
        }
      </ul>
    </div>
  </Layout>
</html>
