---
export interface Props {
  title: string;
  description: string;
  pubDate: string;
  tag: string;
  heroImage: string;
  url: string;
}
const { title, description, pubDate, tag, heroImage, url } = Astro.props;
---

<div>
  <a href={url} rel="prefetch">
    <div>
      <div>
        <h>{title}</h>
        <p>{description}</p>
      </div>
      <div>
        <span>{tag}</span>
        <time datetime={pubDate}>
          {
            new Date(pubDate).toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })
          }
        </time>
      </div>
    </div>
    <div>
      {heroImage && <img class="w-full" src={heroImage} alt="" />}
    </div>
  </a>
</div>
