---
import Layout from "./Layout.astro";
import BaseHead from "@components/BaseHead.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    author: string;
    heroImage?: string;
    pubDate?: string;
    tag: string;
  };
}

const {
  content: { title, description, author, pubDate, heroImage, tag },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <Layout>
    <article class="text-white">
      <div class="text-sm">
        <span>
          {
            pubDate && (
              <time datetime={pubDate}>
                {new Date(pubDate).toLocaleDateString("en-us", {
                  year: "numeric",
                  month: "short",
                  day: "numeric",
                })}
              </time>
            )
          }
        </span>
        <span>{tag}</span>
      </div>
      <h1 class="text-4xl">{title}</h1>
      {heroImage && <img class="w-full" src={heroImage} alt="" />}
      <p>Written by {author === undefined ? <span>ISAG Lab</span> : <span>{author}</span>}</p>
    </article>
    <div class="text-white">
      <slot />
    </div>
  </Layout>
</html>
